{% extends "gsite/wrapper.html" %}
{% block content %}
    <title>Analytics</title>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/pie.jpg" class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="pie/" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Percent expenses pie</a> </h3>
                        <p>Круговая диаграмма затрат</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/bar.jpg" class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="diagram/" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Bar Chart</a> </h3>
                        <p>Расходы помесячно</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/planning2.jpg" width=”100%” class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="{% url 'get_expenses_list' %}" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Planning</a> </h3>
                        <p>In development</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/pdf.jpg" width=”100%” class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="update_pdf/" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Update Data From PDF File</a> </h3>
                        <p>Загрузка банковской выписки из PDF</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/spreadsheet.jpg" width=”100%” class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="factory/" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Update Data</a> </h3>
                        <p>Загрузка банковской выписки</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="media/currency2.jpg" width=”100%” class="img-thumbnail">
                    </div>
                    <div class="panel-footer" style="background: #00CED1">
                        <h3><a class="btn btn-primary btn-lg active" href="manual-input/" role="button" style="text-align: centre; margin: 0 auto ; width: 100%; height: 80%">Cash Expenses</a></h3>
                        <p>Наличные расходы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}