{% load static %}
<html>
    <head>
        <title>Analytics</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/grafic_matplotlib.css' %}">
    </head>
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Home expense analytics</h1>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/grafic_matplotlib.css' %}">
        </div>
        <div id="user-tools">
            Welcome,
            <strong>username</strong>.
            <a href="">Change password</a> /
            <a href="">Log out</a>
        </div>
    </div>
    <body>
        <div>
            <h1>Analytics family expenses</h1>
        </div>

        <div class="row1">
            <h3><a href="pie/">Percent expenses pie</a> </h3>
            <p>Круговая диаграмма затрат в разрезе категорий</p>
        </div>

        <div>
            <h3><a href="diagram/">Diagram</a> </h3>
            <p>In development</p>
        </div>

        <div>
            <h3><a href="planning/">Planning</a> </h3>
            <p>In development</p>
        </div>
    </body>
</html>