{% extends "gsite/wrapper.html" %}
{% block content %}
        <div>
            <h1><strong>График расходов будет тут</strong></h1>
        </div>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form }}
                <button type="submit" class="save btn btn-default">Ok</button>
                {{ debug }}
            </form>
        <div>
            <fieldset class="module aligned ">
                <div class="form-row field-figure">
                    <div>
                        <label for="id_figure"></label>
                        <img src="data:image/png;base64, {{diagram_fig}}" width="800px" height="560px" class="img-thumbnail">
                    </div>
                </div>
            </fieldset>
            <div>
                {% include "grafic_matplotlib/includes/table.html" %}
            </div>
        </div>
{% endblock %}