{% extends "gsite/wrapper.html" %}
{% block content %}
        <title>Bar Chart</title>
        <div class="text-center">
            <h1><strong>Гистограмма расходов</strong></h1>
        </div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form_user }}
                <button type="submit" class="save btn btn-default">Ok</button>
            </form>
        <div class="inline-block" style="float: left; width: 50%; padding: 0px">
            <fieldset class="module aligned " style="width:100%">
                <div class="form-row field-figure">
                    <div>
                        <label for="id_figure">
                            <img src="data:image/png;base64, {{bar_char|safe}}" width="800px" height="560px" class="img-thumbnail">
                        </label>
                    </div>
                </div>
            </fieldset>
            </div>
        <div class="inline-block" style="float: right; width: 50%; padding: 0px">
            {% include "grafic_matplotlib/includes/table_month.html" %}
        </div>
{% endblock %}