{% extends  'factory_base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Success update</title>
    </head>
        <body>
            <div class="col-lg-4" style="position: absolute; top: auto; right: 0; left: 0; margin: auto">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="alert alert-success">
                            <p class="text-center">{{ confirm }}</p>
                        </div>
                        <a href="/analytics/manual-input/">
                            <button type="submit" class="btn btn-primary btn-block" style="text-align: centre; margin: 0 auto ; width: 50%; height: 80%">Добавить еще</button>
                        </a>
                        <a href="/analytics/">
                            <button type="submit" class="btn btn-primary btn-block" style="text-align: centre; margin: 0 auto ; width: 50%; height: 80%">На главную</button>
                        </a>
                    </div>
                </div>
            </div>
        </body>
{% endblock %}