<!DOCTYPE html>
<html lang="en">
{% extends  'factory_base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Success update</title>
    </head>
        <body>
            <h1 class="text-center">Загрузка анковской выписки</h1>
            <div class="col-lg-4" style="position: absolute; top: auto; right: 0; left: 0; margin: auto">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{ confirmation }}</p>
                        <p>{{ confirm }}</p>
                        <a href="/analytics/update_pdf/">
                            <button type="submit" class="btn btn-primary btn-block" style="text-align: centre; margin: 0 auto ; width: 30%; height: 80%">Повторить загрузку</button>
                        </a>
                        <a href="/analytics/">
                            <button type="submit" class="btn btn-primary btn-block" style="text-align: centre; margin: 0 auto ; width: 30%; height: 80%">На главную</button>
                        </a>
                    </div>
                </div>
            </div>
        </body>
{% endblock %}