{% extends 'factory_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <title>Update</title>
  <h1 class="text-center">Загрузка банковской выписки</h1>
  <div class="col-lg-4" style="position: absolute; top: auto; right: 0; left: 0; margin: auto">
    <div class="panel panel-default">
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_pdf|crispy}}
        <button type="submit" class="btn btn-primary btn-block" style="text-align: centre; margin: 0 auto ; width: 20%; height: 80%">Ok</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}