button {
    display: inline-block;
    text-align: centre;
    height: 35px;
    width: 40px;
    float: right;
    margin-right: 65%;
    margin-top: 2%;
    background: url(/transition.png) 0 0 no-repeat;
    transition: background 0.2s ease;
}

button:hover {
    background-image: url(/transition-active.png);
}