{% block content %}
                <table id="t01" width="50%">
                    <style>
                        table {
                            font-family: arial, sans-serif;
                            margin: 0 auto;
                            width:100%;
                        }
                        table, th, td {
                            border: 3px solid #dddddd;
                            border-collapse: collapse;
                        }
                        th, td {
                            padding: 9px;
                        }
                    </style>
                    <tr>
                        <th>Статья расходов</th>
                        <th>Сумма расходов, грн.</th>
                        <th>Доля расходов, %</th>
                    </tr>
                    {% for data in amount_expenses %}
                    {% for k, v in data.items %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                        <td>%</td>
                    </tr>
                    {% endfor %}{% endfor %}
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>{{sum_expenses}}</strong></td>
                        <td><strong>100%</strong></td>
                    </tr>
                </table>
{% endblock %}